.App {
  /* text-align: center; */
  /* background: black; */
}

html {
  background: gray;
  display: flex;
  justify-content: center;
}

.section-title {
  font-variant-caps: small-caps;
  font-weight: 700;
}

body {
  font-family: arial;
  font-size: 10.5pt;
}

#root {
  width: 8.5in;
  height: 11in;
  background: white;
}

p, ul {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

/* li {
  margin-right: -.3rem;
} */

ul  {
  padding-left: 1rem;
}

.right {
  text-align: right;
}

hr {
  border-color: black;
  border-width: .5px;
  margin-top: 4px;
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

.trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space:nowrap;
}

.trio > div:first-child, .trio > div:last-child {
  flex: 1;
}

.trio > div:last-child {
  text-align: right;
}

.section {
  padding: .1rem .4rem .4rem .4rem;
}

#content {
  padding: 1rem 2rem;
}

#header {
  font-family: times;
  padding: 1rem 2rem;
  display: flex;
  background: rgb(55,128,172);
  justify-content: space-between;
  align-items: center;
}