@font-face {
  font-family: bodoni;
  src: url('bauer_bodoni_d_demi_bold-webfont.woff')
}

.name {
  font-family: bodoni;
  font-size: 2.2rem;
}

html {
  background: gray;
  display: flex;
  justify-content: center;
}

.section-title {
  font-variant-caps: small-caps;
  font-weight: 600;
}

body {
  font-family: arial;
  font-size: 10.5pt;
}

#root {
  width: 8.5in;
  height: 11in;
  background: white;
}

p, ul {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

ul  {
  padding-left: 1.2rem;
}

hr {
  border-color: black;
  border-width: .4px;
  margin: 0;
}

.bold {
  font-weight: 700;
}

.trio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space:nowrap;
}

.trio > div:first-child, .trio > div:last-child {
  flex: 1;
}

.trio > div:last-child {
  text-align: right;
}

.section {
  padding: .3rem .8rem
}

.subsection {
  padding-bottom: .5rem;
}

#content {
  padding: 1.2rem 2rem;
}

a {
  color: black;
}

#header {
  font-family: times;
  /* font-size: 1rem; */
  /* padding: 1rem 2rem; */
  padding: 1rem 2rem;
  background: rgb(55,128,172);
  align-items: start;
  height: 3rem;
}